.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}

.links {
    margin-right: 15px;
    color: var(--inverted-primary-color);

    & > a {
        margin: 0 10px;
    }
}
